<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogoutServlet</servlet-name>
  	<display-name>AdminLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<display-name>StudentLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.student.servlet.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentSignupServlet</servlet-name>
  	<display-name>StudentSignupServlet</display-name>
  	<description></description>
  	<servlet-class>com.student.servlet.StudentSignupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentLogoutServlet</servlet-name>
  	<display-name>StudentLogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.student.servlet.StudentLogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddExamServlet</servlet-name>
  	<display-name>AddExamServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AddExamServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddQuestionServlet</servlet-name>
  	<display-name>AddQuestionServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteExamServlet</servlet-name>
  	<display-name>DeleteExamServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.DeleteExamServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditExamServlet</servlet-name>
  	<display-name>EditExamServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.EditExamServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteQuestionServlet</servlet-name>
  	<display-name>DeleteQuestionServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.DeleteQuestionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InstructionServlet</servlet-name>
  	<display-name>InstructionServlet</display-name>
  	<description></description>
  	<servlet-class>com.student.servlet.InstructionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveAnswerServlet</servlet-name>
  	<display-name>SaveAnswerServlet</display-name>
  	<description></description>
  	<servlet-class>com.student.servlet.SaveAnswerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExamSubmitServlet</servlet-name>
  	<display-name>ExamSubmitServlet</display-name>
  	<description></description>
  	<servlet-class>com.student.servlet.ExamSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogoutServlet</servlet-name>
  	<url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentSignupServlet</servlet-name>
  	<url-pattern>/StudentSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentLogoutServlet</servlet-name>
  	<url-pattern>/StudentLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddExamServlet</servlet-name>
  	<url-pattern>/AddExamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddQuestionServlet</servlet-name>
  	<url-pattern>/AddQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteExamServlet</servlet-name>
  	<url-pattern>/DeleteExamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditExamServlet</servlet-name>
  	<url-pattern>/EditExamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteQuestionServlet</servlet-name>
  	<url-pattern>/DeleteQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InstructionServlet</servlet-name>
  	<url-pattern>/InstructionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveAnswerServlet</servlet-name>
  	<url-pattern>/SaveAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExamSubmitServlet</servlet-name>
  	<url-pattern>/ExamSubmitServlet</url-pattern>
  </servlet-mapping>
</web-app>
